{% extends "meixin_invest/products/base.html" %}
{% load static from staticfiles %}
{% block sub_title %}|安心计划一期{% endblock %}

{% block products_top_section %}

<h2>安心计划一期</h2>
<p>固定收益<br><span>9%</span></p>

<a class="btn btn-primary disabled" href="{% url 'meixin_invest:protected' %}">销售完成</a>

<ul>
    <li>投资期限<br><span>12个月</span></li>
    <li>融资总额<br><span>$1,000,000</span></li>
    <li>起投金额<br><span>$10,000</span></li>
</ul>

{% endblock %}

{% block products_mid_section %}

<ul>
    <li><img src="{% static 'dist/meixin_invest/img/products/anxin_icon1_512x512.png' %}"><span>8倍同期美金定存利率</span></li>
    <li><img src="{% static 'dist/meixin_invest/img/products/anxin_icon2_512x512.png' %}"><span>资金第三方托管</span></li>
    <li><img src="{% static 'dist/meixin_invest/img/products/anxin_icon3_512x512.png' %}"><span>美国优质地产项目</span></li>
    <li><img src="{% static 'dist/meixin_invest/img/products/anxin_icon4_512x512.png' %}"><span>灵活投资低门槛</span></li>
</ul>

{% endblock %}

{% block products_bot_section %}

<div class="col-sm-5">
    <h3>产品详情</h3>
    <ul>
        <li>项目描述（投资标的详情）： 此开发项目为新泽西沿河Cliffside Park六套连联排别墅。项目总投资531万美元，包括：1）已批准建筑贷款300万美金（第一顺位债权）；2）安心计划一期投资100万美金（第二顺位债权）；3）开发商自有股权投资131万美金。项目于2016年1月正式动工，并于7月开始预售，16年底至17年初完工与业主正式交割；建造完毕后的销售总收入预计约为760万美金，按顺位依次清还债权人相应本息。其中，第二顺位债权（即该项目）的本息，除了在与开发项目公司签定的项目物业抵担的债权合同之外，还添加了个人担保合同提供多层保障。</li>
        <li>合作方介绍（合作方概况 资质）： 本项目开发商公司Richmark在新泽西地区建造和开发高档住宅公寓与社区的经验丰富。截止目前，已在新泽西州累计开发了14处不同规模的房产项目。开发商个人资产充足。2015年12月的第三方北美会计师报告显示，个人总资产为1485万美金，包括7百多万美金的现金存款及7百多万的房地产物业；同时债务为167万美金；净资产为1317万美金。</li>
    </ul>
</div>
<div class="col-sm-7">
    <ul class="nav nav-tabs" role="tablist">
        <li role="description" class="active"><a href="#01" role="tab" data-toggle="tab">产品信息</a></li>
        <li role="description"><a href="#02" role="tab" data-toggle="tab">还款保障</a></li>
        <li role="description"><a href="#03" role="tab" data-toggle="tab">资金安全</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="01">
            <ul>
                <li>募集总额：1,000,000美金</li>
                <li>回款方式：按季付2.25%利息，本金与最后一季利息一并返还</li>
                <li>计息时间：募资达到募集总额当日与2016年4月23日之间较早者</li>
                <li>结息时间：计息时间＋365个自然日</li>
                <li>投资标的：新泽西州沿河Cliffside Park六套现代联排别墅开发项目的第二顺位债权</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="02">
            <ul>
                <li>1. 优先退出：开发商已投入130万美金作为股权劣后资金，安心计划的债权资金将在开发商资金回本前优先退出</li>
                <li>2. 物业抵押：本期产品投资为有担保之债（secured debt)，土地及未来建成物业将为债权抵押物</li>
                <li>3. 个人担保： 本期产品的本息除项目销售收入外，开发商还提供个人资产担保，并设有延迟还款罚金及最高清算利息的偿付措施</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="03">
                <li>1. 用户资金流转完全通过第三方支付托管机构，本平台不触及用户交易资金。</li>
                <li>2. 每个项目单独设立专项基金，相互独立，公开透明，专款专用。</li>
                <li>3. 美信金融作为FINRA（美国金融业监管局）注册成员，项目架构与投资流程严格按照美国SEC与FINRA相关法律规定设定。</li>
        </div>
    </div>
</div>

{% endblock %}
