.head-div {
    background: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.name-div {
    width: 100%;
}

.name-text{
    position: relative;
    margin: 0px auto 0px auto;
    font-size: 18px;
    width: 250px;
    text-align: center;
    color: #333333;
}

.name-label {
    position: relative;
    margin: 5px auto 10px auto;
    font-size: 12px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: solid 1px #3399FF;
    border-radius: 3px;
    color: #3399FF;
}

.money-div {
    padding-top: 5px;
    width: 100%;
}

.money-div-inside {
    width: 50%;
    float: left;
}

.money-text {
    text-align: center;
    font-size: 16px;
    color: #444444;
}

.money-number {
    text-align: center;
    font-size: 24px;
    color: #3399FF;
}

.cutline-right {
    border-right: solid 1px #BBBBBB;
}

.opt-div {
    width: 100%;
    height: 46px;
    line-height: 45px;
}

.opt-border-1 {
    border-bottom: solid 1px #EEEEEE;
}

.opt-border-2 {
    margin-top: 20px;
    border-top: solid 1px #EEEEEE;
    border-bottom: solid 1px #EEEEEE;
}

.opt-img {
    float: left;
    margin-top: 10px;
    height: 24px;
    margin-left: 40px;
    margin-right: 10px;
}

#suggest .opt-img {
    margin-left: 45px;
    margin-right: 15px;
}

#help .opt-img {
    margin-left: 41px;
}

#invite .opt-img {
    margin-left: 41px;
}

.opt-text {
    float: left;
    margin-left: 30px;
    color: #666666;
}

.opt-text-img {
    float: left;
    color: #666666;
}

.opt-text-right {
    float: right;
    margin-right: 30px;
    color: #666666;
}

.opt-text-far {
    float: left;
    color: #666666;
    margin-left: 35px;
}

.opt-go {
    float: right;
    height: 40px;
    margin-right: 10px;
}

.opt-text-gray {
    float: right;
    font-size: 13px;
    color: #999999;
}

.opt-text-gray-far {
    float: right;
    margin-right: 50px;
    font-size: 13px;
    color: #999999;
}

.opt-hint {
    margin-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 12px;
}

#contact {
    margin-top: 30px;
}

.btn-exit-height {
    height: 40px;
    min-height: 40px;
    margin-bottom: 55px;
}

.btn-exit {
    height: 40px;
    line-height: 40px;
    background: #3399FF;
    color: white;
    text-align: center;
}

.change-main {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.change-item {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #BBBBBB;
}
.change-inputbox {
    height: 30px;
    margin-top: 10px;
    color: #444444;
    border: none;
}

.change-btn-div {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.change-btn {
    width: 100%;
    background: #029DE0;
    color: white;
    height: 45px;
    font-size: 16px;
}

.change-hint {
    width: 100%;
    padding-left: 5px;
    color: red;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

#s_region {
	float: left;
	margin-top: 15px;
	appearance: none;
}
