.fund-div {
    margin: 15px 20px 0px 20px;
    border: solid 1px #BBBBBB;
}

.fund-property {
    width: 100%;
    height: 28px;
    color: #444444;
    padding-top: 4px;
    line-height: 20px;
}

.fund-name {
    float: left;
    width: 60%;
    padding-left: 20px;
}

.fund-hint {
    float: right;
    width: 40%;
    text-align: center;
    font-weight: bold;
    border-left: solid 1px #DDDDDD;
}

.fund-details {
    background: #F0FAFF;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
}

.fund-title {
    font-size: 16px;
    font-weight: bold;
}

.fund-total {
    font-size: 24px;
    color: #3399FF;
}

.fund-raw {
    float: left;
    width: 60%;
    color: #666666;
    padding-left: 20px;
    font-size: 12px;
}

.fund-rate {
    float: right;
    width: 40%;
    color: #666666;
    text-align: center;
    border-left: solid 1px #DDDDDD;
    font-size: 12px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}
