<div id="capital" class="tab-pane fade">
    <div class="container">
        <div class="panel-group" id="faq-capital-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse1"><i
                                class="indicator glyphicon glyphicon-triangle-right"></i></a><a data-toggle="collapse"
                                                                                                href="#faq-capital-collapse1">美国居民如何投资在美国的美元产品？</a>
                    </h4>
                </div>

                <div id="faq-capital-collapse1" class="panel-collapse collapse in">
                    <div class="panel-body"><p>美国居民可以选择ACH网上转账、支票（check）以及电汇（wire）三种方式划款。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="faq-capital-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse2"><i
                                class="indicator glyphicon glyphicon-triangle-bottom"></i></a><a data-toggle="collapse"
                                                                                                 href="#faq-capital-collapse2">大陆居民如何投资在美国的美元产品？</a>
                    </h4>
                </div>

                <div id="faq-capital-collapse2" class="panel-collapse collapse">
                    <div class="panel-body"><p>
                        中国大陆居民需要用电汇（wire）的方式划款。款项可以来自中国大陆的美元银行账户或位于香港的离岸美元银行账户。由中国大陆的美元银行账户汇出的款项，其额度及用途请参照国家外汇管理局相关规定。在美国拥有银行账户的中国大陆居民可以同美国居民一样选择ACH网上转账、支票以及电汇三种方式划款。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="faq-capital-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse3"><i
                                class="indicator glyphicon glyphicon-triangle-bottom"></i></a>
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse3">如何在大陆开美元离岸账户？</a>
                    </h4>
                </div>

                <div id="faq-capital-collapse3" class="panel-collapse collapse">
                    <div class="panel-body"><p>部分银行提供在大陆网点远程开通香港离岸账户服务，例如招商银行的香港一卡通。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="faq-capital-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse4"><i
                                class="indicator glyphicon glyphicon-triangle-bottom"></i></a>
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse4">客户投资的款项进入到什么账户？</a>
                    </h4>
                </div>

                <div id="faq-capital-collapse4" class="panel-collapse collapse">
                    <div class="panel-body"><p>
                        客户的款项会直接进入对应项目的托管银行账户。筹款结束后，资金不经由平台，将直接进入项目。每个项目有各自的托管银行账户，相互独立，保证专款专用。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="faq-capital-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse5"><i
                                class="indicator glyphicon glyphicon-triangle-bottom"></i></a>
                        <a data-toggle="collapse"
                           href="#faq-capital-collapse5">项目的收益和本金如何返回？</a>
                    </h4>
                </div>

                <div id="faq-capital-collapse5" class="panel-collapse collapse">
                    <div class="panel-body"><p>
                        项目的收益和本金默认将返回到投资人注资使用的银行账户。如果客户需要以不同的账户收款，需要和我们的客服人员及时联系。此外，因中国外汇管理政策原因，存在资金无法直接返还到大陆银行的个人账户的风险。届时投资人需要提供一个离岸账户接受款项。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
