.prod-btn {
    text-align: center;
    margin-top: 40px;
    background: #3399FF;
    font-size: 16px;
    color: white;
    height: 40px;
    line-height: 40px;
}

.intro-div {
    margin: 30px 30px;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
}

.title-div {
    margin: 30px 40px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    border-bottom: solid 1px #DDDDDD;
    color: #666666;
}

.select-div {
    height: 60px;
    width: 100%;
    padding: 0px 30px;
    display: table;
    text-align: center;
    border-bottom: solid 1px #DDDDDD;
}
.select-div-top {
    border-top: solid 1px #DDDDDD;
}
.font-select {
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
}

.selected {
    background: #6C7D98;
    color: white;
}

.content-div {
    margin: 10px 44px;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.important-div {
    margin: 20px 30px 10px 44px;
    font-size: 15px;
    line-height: 30px;
    color: #666666;
}

.american-div {
    padding-top: 20px;
}

.details-div {
    margin: 20px 44px;
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.details-word {
    margin: 10px 0px;
}

.fail-div {
    margin: 40px 30px;
    font-size: 15px;
    line-height: 30px;
    color: #666666;

}

.fail-text {
    margin-top: 15px;
}

.hint {
    width: 100%;
    padding: 10px 30px 0px 30px;
    color: red;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
