body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    background-color: #e3e3e3;
}
#wrap{
    margin: 0;
    padding: 0;
    /*height: 667px;*/
}
.mian{
    width: 100%;
    height: 637px;
    margin: 0 auto;
    /*padding-bottom: 6rem;*/
    background-color: #fff;
    background-image: url("../img/activity/activity_0808/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*html_01*/
.mian-list{
    width: 80%;
    margin: 1rem auto 1rem;
}
.mian-list-1{
    padding-top: 30px;
}
.mian-list-title{
    color: #0d2a78;
    font: 20px '微软雅黑';
    text-align: center;
    padding-top: 12px;
    margin-bottom: 2rem;
}
.mian-list-style p{
    color: #fff;
    border-radius: 5px;
    background-color: #0d2a78;
    padding: 9px;
}
.mian-list-style>a>p{
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #0d2a78;
    padding: 1rem;
}
#sub{
    width: 15%;
    height: 40px;
}
.mian-list-4{
    position: relative;
}
.mian-list-4>input{
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    color: #fff;
    line-height: 30px;
    border-radius: 5px;
    background-color: #0d2a78;
    border: none;
    width: 138px;
}
.mian-list-style>a{
    text-decoration: none;
}
.mian-list-select span{
    color: #0d2a78;
}
.mian-l-sel-sty{
    margin-top: 15px;
}
/*html_02*/
.bg-logo{
    width: 25%;
    height: 128px;
    margin: 0 auto;
    padding: 2rem 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.bg-logo>img{
    width: 84px;
    height: 96px;
}
.form-list{
    width: 80%;
    height: 25px;
    margin: 24px auto 0;
    border-bottom: 1px solid #999;
}
.form-list>span>img{
    width: 12px;
    height: 18px;
}
.form-list input{
    border: none;
    outline: none;
    font-size: 13px;
    margin-left: .3rem;
    background-color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

#yzm{
    padding: 2px;
    /*margin: ;*/
    font-size: 12px;
    width: 72px;
    height: 22px;
}
span>img{
    margin-bottom: -3px;
}
.form-list-yam{
    float: right;
    color: #0d2a78;
    border-radius: 20px;
    padding: 5px 10px;
}
.form-list-6{
    margin: 0 auto;
    border: none;
}
.form-list-6>input{
    margin: 40px auto 0;
    font: normal 16px/40px "";
    height: 40px;
    letter-spacing: 4px;
    display: block;
    width: 240px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2.5rem;
    background-color: #0d2a78;
}
#infor{
    height: 40px;
    width: 100%;
    background-color: #fff;
}


