.coupon_section {
    position: relative;
}

.coupon_section img {
    width: 100%;
}

.coupon_button {
    width: 22%;
    height: 17%;
    position: absolute;
    z-index: 10;
    left: 39%;
    top: 61.7%;
}
.mark{
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,.4);
    z-index: 99;
}
#popup {
    position: absolute;
    left: 29%;
    top: 23%;
    width: 42%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    display: none;
    z-index: 999;
    padding: 30px 0;
    color: #555555;
}
.coupon_red{
    color: #ff0033;
}
.popup_buttons{
    display: inline-block;
    width: 10em;
    padding: 8px 0;
    text-align: center;
    background-color: #e34245;
    border-radius: 10px;
    color: #fff;
}
a.popup_buttons:hover{
    text-decoration: none;
    color: #fff;
}
.coupon_fn2{
    font-size: 2em;
}
.coupon_bold{
    font-weight: bold;
}