#faq-category-bar {
  padding-bottom: 20px;
  border-bottom: 1px solid #dadbdb;
  margin-bottom: 20px;
}

.faq-category-tab {
  width: 220px;
  border-right: solid 1px #dadbdb;
  font-size: 16px;
  font-weight: 500;
}

.faq-category-tab .active {
  border-bottom: solid 2px black;
}

.nav-pills > li > a {
  color: #babbbc;
  font-weight: 500;

}

.faq-category-tab:last-child {
  border-right: solid 1px #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #2cb2eb;
  background-color: #ffffff;
  border-bottom: 2px solid;
  display: inline-block;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2%;

}

.panel-default > .panel-heading {
  background-color: #ffffff;
  border-color: #ffffff;
}

.panel-default {
  border-color: #ffffff;

}

.panel-body {
  border-bottom: dotted 2px #cccccc;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  color: #000000;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;

}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.indicator {
  margin-right: 30px;
}

.glyphicon-triangle-right {
  color: #2cb2eb;
}

.glyphicon-triangle-bottom {
  color: #babbbc;
}

@media screen and (max-width: 768px){
  .panel-body{
    padding-left: 6%!important;
    padding-right: 6%!important;
  }
  .faq-category-tab{
    width: 100%;
    border-right: 0;
  }
  .faq-category-tab.active{
    background-color: #2cb2eb;
  }
  .faq-category-tab.active a{
    color: white!important;
    background: transparent!important;
    border-bottom: none!important;
  }
  .container{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .navbar .container{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}