.newhelp .container-fluid{
	padding: 0
}
.newhelp-feature-image img{
	width: 100%;
}
.newhelp-section-2 h2, .newhelp-four-bullets > h2, .newhelp-four-tabs > h2, .newhelp-five-steps h2, .newhelp_instructions h2{
	font-size: 1.5em;
	padding: 15px 0;
	padding-top: 30px;
}
.newhelp-section-2 img{
	width: 75%;
	margin: 30px 0;
}
.newhelp-four-bullets, .newhelp-five-steps{
	background-color: #f5fcfc;
}
.newhelp-four-bullets{
	padding-bottom: 30px;
}
.newhelp-four-bullets > div > h2{
	font-size: 1.6em;
}
.newhelp-four-tabs > div{
	border: 1px solid #ddd;
	text-align: left;
    min-height: 340px;
    margin-bottom: 50px;
}
.newhelp-four-tabs .nav-tabs li{
	width: 25%;
}
.newhelp-four-tabs .tab-content .col-sm-8{
	padding: 20px;
    line-height: 30px;
}
.newhelp-four-tabs .tab-content .col-sm-8 ul{
    margin-left: 16px;
}
.newhelp-four-tabs .tab-content .col-sm-8 ul li{
    list-style-type: square;
}
.newhelp-four-tabs .tab-content .col-sm-8 p{
    font-size: inherit;
    color: inherit;
}
.newhelp-four-tabs .tab-content .col-sm-4 img{
	width: 100%;
	padding: 20px;
}
.newhelp-four-tabs .nav-tabs>li.active>a{
	border: none;
	border-bottom: 3px solid #029de0;
}
.newhelp-four-tabs .nav-tabs>li a{
	display: inline-block;
	color: #454545;
	padding-top: 15px;
    font-size: 1.3em;
}
.newhelp-four-tabs .nav-tabs>li.active:after{
	content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #029de0;
    position: absolute;
    margin-top: 52px;
    margin-left: -58px;
}
.newhelp-four-tabs .nav-tabs>li a:hover{
	background-color: #fff;
	border: none;
	border-bottom: 3px solid #029de0;
}
.newhelp-four-tabs .nav-tabs{
	border-bottom: none;
}
.newhelp-five-steps .owl-carousel .item img{
	width: 60%;
    display: inline-block;
}
.newhelp-five-steps .nav_bullets span{
	padding: 15px;
	border-radius: 50%;
	background-color: #c8d6e0;
	display: inline-block;
	color: white;
	font-weight: 500;
}
.newhelp-five-steps .col-sm-8{
	z-index: 0;
	padding: 20px 0;
}
.nav_bullets{
	z-index: 1;
	margin: 0 4%;
}
.nav_bullets:before{
	content: "";
    border-top: 1px solid #029de0;
    margin-top: 24px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}
a.nav_bullets:nth-child(1) span{
	background-color: #029de0;
}
.newhelp-five-steps .owl-stage-outer{
	margin-bottom: 20px;
}
.newhelp_instructions h3, .newhelp_instructions p{
	text-align: left;
    color: inherit;
}
.newhelp_instructions p{
    padding: 7px 27px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: transparent!important;
	border-bottom: 3px solid #029de0!important;
}
