body{
	background-color: #fff;
}
#logo{
	background: url(../img/logo_1309x169.png) center center no-repeat;
	background-size: contain;
}
nav .container{
	padding: 10px 0;
}
nav .navbar{
	background-color: #fff;
}
nav .navbar .navbar-nav>li,nav .navbar .navbar-nav>li>a:not(.btn-solid){
	color: #454545;
}
#home #hero{
	background-image: none!important;
	background-color: #fff;
}
#home #hero h1{
	color: #68C1FF;
	font-size: 2.2em
}
#home #hero a.btn-solid{
	color: #fff;
	border-radius: 5px;
	font-size: 1.2em;
}
#home #hero p, #home #hero a{
	color: #454545;
}
.protected-style-extra p{
	font-size: 18px!important;
}
.protected-style-extra a:last-child{
	line-height: 45px;
	font-size: 1.4em;
}
@media screen and (max-width: 768px){
	#home{
		margin-top: 0!important;
	}
}