.head-tab {
    float: left;
    width: 50%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #666666;
    background: #EEEEEE;
}

.head-yes {
    border-bottom: 2px solid #029DE0;
}
.head-no {
    border-bottom: 2px solid #FFFFFF;
}

.main {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
    height: 50px;
    border-bottom: 1px solid #BBBBBB;
}

.icon {
    float: left;
    width: 24px;
    margin: 12px 12px 10px 10px;
}

.line {
    float: left;
    background: #BBBBBB;
    height: 30px;
    margin-top: 10px;
    width: 1px;
}

.inputbox {
    float: left;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    color: #444444;
    border: none;
}

#s_region {
	float: left;
	padding-left: 10px;
	margin-top: 15px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

#input-phone {
    width: 100px;
}

.btn-code {
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    background: #029DE0;
    color: white;
    margin-top: 9px;
}

.contract-line {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
}
.contract-div {
    float: left;
}
.constrct-text {
    float: left;
    padding-top: 2px;
    margin-left: 15px;
    font-size: 13px;
}

#hint {
    width: 100%;
    padding-left: 5px;
    color: red;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.submit-div {
    margin-top: 14px;
    width: 100%;
    height: 50px;
}

#btn-submit {
    width: 100%;
    background: #029DE0;
    color: white;
    height: 45px;
    font-size: 16px;
}

.login-div {
    width: 100%;
    margin-top: 10px;
}

#login {
    float: right;
    color: #029DE0;
}

.copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #BBBBBB;
    font-size: 11px;
}
