        <div class="zjy-wrap">
            <span class="zjy-fn24 zjy-close">&times;</span>
            <h1 class="zjy-title2">Individual Self-Certification</h1>

            <h2 class="zjy-sub-title">Instructions for completion</h2>
            <div class="zjy-instructions">
                <p>We are obliged under the Tax information Authority Law, the Regulations, and Guidance Notes made
                    pursuant to that Law, and treaties and intergovernmental agreements entered into by the Cayman
                    Islands in relation to the automatic exchange of information for tax matters (collectively "AEOI"),
                    to collect certain information about each account holder’s tax status. Please complete the sections
                    below as directed and provide any additional information that is requested. Please note that we may
                    be obliged to share this information with relevant tax authorities. Terms referenced in this Form
                    shall have the same meaning as applicable under the relevant Cayman Islands Regulations, Guidance
                    Notes or international agreements.
                </p>
                <p>If any of the information below regarding your tax residence or AEOI classification changes in the
                    future, please ensure you advise us of these changes promptly. If you have any questions about how
                    to complete this form, please refer to accompanying guidelines for completion or contact your tax
                    advisor.
                </p>
                <p>Please note that where there are joint account holders each investor is required to complete a
                    separate Self-Certification form.</p>
            </div>


            <h2 class="zjy-sub-title">Section 1: Account Holder Identification</h2>
            <div class="zjy-section1">
                <table width="100%">
                    <tr class="zjy-bordertop">
                        <td width="50%">Account Holder Name<p id="self-certification-name"></p></td>
                        <td width="25%">Date of Birth (dd/mm/yyyy)<p id="self-certification-date-of-birth"></p></td>
                        <td width="25%">Place and Country of Birth<p id="self-certification-country-of-birth"></p></td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Permanent Residence Address:</b>
                            <p></p></td>
                    </tr>
                    <tr class="zjy-bordertop">
                        <td colspan="2">Number & Street <p id="self-certification-permanent-number-street"></p></td>
                        <td>City/Town<p id="self-certification-permanent-city"></p></td>
                    </tr>
                    <tr class="zjy-bordertop">
                        <td>State/Province/County<p id="self-certification-permanent-state"></p></td>
                        <td>Post Code<p id="self-certification-permanent-zipcode"></p></td>
                        <td>Country<p id="self-certification-permanent-country"></p></td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Mailing address (if different from above):</b>
                            <p></p></td>
                    </tr>
                    <tr class="zjy-bordertop">
                        <td colspan="2">Number & Street <p id="self-certification-mailing-number-street"></p></td>
                        <td>City/Town<p id="self-certification-mailing-city"></p></td>
                    </tr>
                    <tr class="zjy-bordertop">
                        <td>State/Province/County<p id="self-certification-mailing-state"></p></td>
                        <td>Post Code<p id="self-certification-mailing-zipcode"></p></td>
                        <td>Country<p id="self-certification-mailing-country"></p></td>
                    </tr>
                </table>
            </div>

            <h2 class="zjy-sub-title">Section 2: Declaration of U.S. Citizenship or U.S. Residence for Tax purposes</h2>

            <div class="zjy-section2">
                <p>Please tick either (a) or (b) or (c) and complete as appropriate.</p>
                <ol>
                    <li><input type="radio" id="self-certification-us-tax-payer" disabled='disabled'> <label
                            for="self-certification-us-tax-payer">I confirm that I am a U.S. citizen
                        and/or resident in the U.S. for tax purposes (green card holder or resident under the
                        substantial presence test) and my U.S. federal taxpayer identifying number (U.S. TIN) is as
                        follows:</label>
                        <div id="self-certification-ssn" class="zjy-line"></div>
                    </li>
                    <li><input type="radio" id="self-certification-us-born-not-us-tax-payer" disabled='disabled'> <label
                            for="self-certification-us-born-not-us-tax-payer">I confirm that I was born in the U.S.
                        (or a U.S. territory) but am no longer a U.S. citizen as I have voluntarily
                        surrendered my citizenship as evidenced by the attached documents.</label></li>
                    <li><input type="radio" id="self-certification-not-us-tax-payer" checked="checked" disabled='disabled'> <label
                            for="self-certification-not-us-tax-payer">I confirm that I am not a U.S. citizen
                        or resident in the U.S. for tax purposes.
                    </label></li>
                </ol>
            </div>

            <h2 class="zjy-sub-title">Complete section 3 if you have non-U.S. tax residences.</h2>


            <h2 class="zjy-sub-title">Section 3: Declaration of Tax Residency (other than U.S.)</h2>
            <div class="zjy-section3">
                <p>I hereby confirm that I am, for tax purposes, resident in the following countries (indicate the tax
                    reference number type and number applicable in each country).</p>
                <table border="1" width="100%">
                    <thead>
                    <tr>
                        <td>Country/countries of tax residency</td>
                        <td>Tax reference number type</td>
                        <td>Tax reference number</td>
                    </tr>
                    </thead>
                    <tr>
                        <td id="self-certification-tax-country"></td>
                        <td id="self-certification-tax-number-type"></td>
                        <td id="self-certification-tax-number-id"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <p>Please indicate not applicable if jurisdiction does not issue or you are unable to procure a tax
                    reference number or functional equivalent. If applicable, please specify the reason for
                    non-availability of a tax reference number:</p>
                <div class="zjy-line"></div>
            </div>
            <h2 class="zjy-sub-title">Section 4: Declaration and Undertakings</h2>
            <div class="zjy-section4">
                <p>I declare that the information provided in this form is, to the best of my knowledge and belief,
                    accurate and complete. I undertake to advise the recipient promptly and provide an updated
                    Self-Certification form within 30 days where any change in circumstances occurs which causes any of
                    the information contained in this form to be inaccurate or incomplete. Where legally obliged to do
                    so, I hereby consent to the recipient sharing this information with the relevant tax information
                    authorities.</p>
                <div class="zjy-signs zjy-clearfix">
                    <div class="zjy-signType">Signature:</div>
                    <div class="zjy-signImg"><img src="" id="self-certerfication-signature"/></div>
                </div>
                <div class="zjy-signs zjy-clearfix">
                    <div class="zjy-signType">Date: (dd/mm/yyyy):</div>
                    <div class="zjy-signDate" id="self-certification-sign-date"></div>
                </div>
            </div>


        </div>