.clearLeft{
	clear: left;
}
.product_top_section{
	border: 1px solid #ccc;
	text-align: center;
}
.product_top_section img{
	padding-top: 2%;
}
.product_top_section h2{
	font-size: 1.6em;
    padding: 2% 5%;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}
.product_top_section p{
	padding: 2%;
    margin-bottom: 0;
    color: #888;
}
.product_top_section p span{
	color: #029de0;
    font-size: 1.8em;
    font-weight: 900;
}
.product_top_section a{
	font-weight: 500;
	border-color: #029de0;
	background-color: #029de0;
	padding: 6px 24px;
	margin-bottom: 1em;
}
.product_top_section ul{
	display: block;
	border-top: 1px solid #ddd;
	margin-top: 4%;
}
.product_top_section ul li{
	float: left;
	width: 33%;
	margin: 1% 0;
	display: inline-block;
}
.product_top_section ul li:nth-child(1), .product_top_section ul li:nth-child(2){
	border-right: 1px solid #ddd;
}
.product_top_section ul li span{
	color: #2ca8ff;
}
.product_top_section .row .col-sm-4{
	padding: 0;
	margin-top: 9%;
	margin-bottom: 5%;
}
.product_top_section .row div.col-sm-4{
	padding: 0;
	margin-top: 11%;
}
.product_top_section .two-colum-list li{
	width: 50%;
}
.product_top_section .two-colum-list li:nth-child(2){
	border-right: none;
}
.product_mid_section ul{
	display: flex;
	background: #eee;
	margin: 20px 0;
}
.product_mid_section ul li{
	width: 22%;
    float: left;
    display: table;
    margin-left: 3%;
    padding: 1% 0;
}
.product_mid_section ul li img{
	width: 70%;
}
.product_mid_section ul li span{
	display: table-cell;
    vertical-align: middle;
    width: 75%;
}
.product_bot_section{
	border: 1px solid #ddd;
	margin-bottom: 6%;
}
.product_bot_section .col-sm-7{
	border-left: 1px solid #ccc;
	margin-left: -1px;
}
.product_bot_section .col-sm-5{
	border-right: 1px solid #ccc;
	padding-bottom: 30px;
}
.product_bot_section h3{
	text-align: center;
    padding: 7%;
    font-size: 1.4em;
}
.product_bot_section h5{
	font-weight: 500!important;
	margin: 15px 0 7px 0!important;
}
.product_bot_section ul li{
	list-style-type: initial;
}
.product_bot_section ul{
	padding-left: 5%;
    line-height: 33px;
}
.product_bot_section ul.nav-tabs{
	margin-top: 3%;
	border-bottom: none;
	padding: 0;
}
.product_bot_section .tab-content ul{
	padding-left: 8%;
	padding-top: 1%;
}
.product_bot_section .col-sm-7 .tab-content ul{
	padding-left: 3.5%;
}
.product_bot_section ul.nav-tabs>li{
	font-size: 1.2em;
	color: inherit;
}
.product_bot_section .tab-content{
	padding-top: 2%;
}
.product_bot_section .tab-content p{
	padding: 2%;
	padding-top: 0%;
	padding-bottom: 0%;
	color: inherit;
}
.product_bot_section ul.nav-tabs>li a{
	color: inherit;
}
.product_bot_section ul.nav-tabs>li a:hover{
	background-color: #fff;
	border: none;
}
.product_bot_section ul.nav-tabs>li.active>a{
	border: none;
	border-bottom: 2px solid #029de0;
}
.product_bot_section .tab-content img{
	width: 100%;
    margin-bottom: 10px;
}
.product_bot_section .tab-content table tr td{
	padding: 13px;
	border: 1px solid #ddd;
}
.product_bot_section .tab-content table{
	margin: 3% 7%;
	text-align: center;
}
.product_bot_section_new .col-sm-12{
	padding: 0;
}
.product_bot_section_new .col-sm-12 .nav-tabs{
	border-bottom: none;
}
.product_bot_section_new .col-sm-12 .nav>li{
	margin-right: 4%;
}
.product_bot_section_new .col-sm-12 .nav>li>a{
	padding: 15px 55px;
	color: white;
	font-weight: 500;
	background-color: #bbb;
}
.product_bot_section_new .col-sm-12 .nav-tabs>li.active>a{
	color: #029de0;
	font-weight: 500;
	background-color: white;
	border: 1px solid #bbb;
    border-bottom-color: transparent;
}
.product_bot_section_new .tab-content .tab-pane.active{
	border: 1px solid #bbb;
	padding: 20px;
}
.product_bot_section_new .tab-content .tab-pane table{
	border: 1px solid #bbb;
}
.product_bot_section_new .tab-content .tab-pane table tr td{
	font-size: 14px;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(1) table tr:nth-child(1) td{
	border-top: 1px solid #bbb;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(1) table tr td:nth-child(1), 
.product_bot_section_new .tab-content .tab-pane:nth-child(2) table tr td[rowspan]{
	width: 15%;
	background-color: #eee;
	padding-left: 2%;
	padding-top: 20px;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(1) table tr td:nth-child(2){
	padding: 20px 2%;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(2) table{
	border: 1px solid #bbb;
	border-top-color: #bbb;
	border-right-color: #bbb;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(2) table tr td{
	border-top: 1px solid #ddd;
	padding: 15px;
	border-right: 1px solid #ddd;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(2) table tr td:last-child{
	border-right: 1px solid #bbb;
}
.product_bot_section_new .tab-content .tab-pane:nth-child(2) table tr:nth-child(1) td{
	border-top: 1px solid #bbb;
}
.prod-bot-announcement{
	padding: 3% 0;
}
.prod-bot-announcement p{
	color: #828282;
}
#anxin3-popover-content{
	display: none;
}
.top .popover-content p{
	color: white;
}
.top .popover-content{
	background-color: #1f2d50;
	padding: 20px;
}
.top .popover-content img{
	width: 46%;
}
.top .popover-content img:nth-child(1){
	width: 25px;
	float: right;
}
.top .popover-content p{
	margin: 20px 0;
}
.top .popover-content p span{
	font-weight: 500;
}
.popover.top>.arrow:after{
	border-top-color: #1f2d50;
}
.popover.top{
	max-width: 80%;
	left: 10%;
	padding: 0;
}
.tab-sec-normal tr td:nth-child(1){
	width: 14%;
	background-color: #eee;
}
@media screen and (max-width: 768px){
	.product_bot_section .col-sm-7, .product_bot_section .col-sm-5{
		border: none;
	}
	.product_bot_section ul.nav-tabs>li a{
		padding: 10px 5px;
	}
	.product_mid_section ul li{
		text-align: center;
		display: block;
	}
	.product_mid_section ul li img{
		display: block;
    	margin: 0 auto;
	}
	.product_mid_section ul li span{
		display: block;
		padding: 0;
	}
}
.modal-body-success{
	display: none;
}
#invest-money button{
	font-weight: bold;
	background-color: #e7f6fb;
	color: #df7f42;
	border: none;
	border-radius: 0;
	margin: 0 3px;
}
#invest-money button.btn-default{
	color: #cbccd0;
	border: none;
	border-radius: 0;
}
#invest-number{
	background-color: #e7f6fb;
	width: 150px;
	border: none;
	border-radius: 0;
}
input#invest-number::-moz-placeholder,input#invest-number:-ms-input-placeholder,input#invest-number::-webkit-input-placeholder{
	color: #000;
}

.red_packets {
	position: absolute;
	right: 0;
	top: 107px;
	display: block;
	width: 65px;
	height: 56px;
	background: url("../img/activity/red_packets.png");
	background-size: 100%;
	z-index: 9;
}

.activity_message {
	display: none;
	z-index: 99;
	position: absolute;
	right: 40px;
	top: 171px;
	width: 220px;
	height: auto;
	/*background: rgba(37,10,69,.8);*/
	background: rgba(88,187,234,.8);
	border-radius: 6px;
	padding: 10px;
}

div.activity_message::before {
	content: '';
	z-index: 99;
	position: absolute;
	display: table;
	width: 0;
	height: 0;
	right: 11px;
	top: -10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	/*border-bottom: 10px solid rgba(37,10,69,.8);*/
	border-bottom: 10px solid rgba(88,187,234,.8);
}

.activity_message p {
	position: relative;
	text-align: left;
	line-height: 1.5;
	font-size: 12px;
	color: #fff;
	padding: 0;
	margin: 0;
}