html,body{
    margin: 0;
    padding: 0;
}
.row-style{
    background-color: #fff;
    line-height: 40px;
    padding-left: 25px;
}
ul{
    list-style: disc !important;
}
.header-section{
    margin-top: 30px;
}
.head-sec-title{
    padding: 27px 0;
    background-color: #e7f5fb;
    font: normal 24px 微软雅黑;
    vertical-align: middle;
    overflow: hidden;
}
.head-sec-title a span{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #f39800;
    border-radius: 10px;
}
.text-center{
    text-align: center;
}

.row-style-2{
    background-color: #e8f4f9 !important;
    line-height: 40px;
    padding-left: 30px;
}

.line-left-icon{
    margin: 20px 0 10px;
    border-left: solid 4px;
    line-height: 18px;
    border-color: #159bd6;
    background-color: #f4f4f4;
}

.li-style{
    margin-left: 15px;
}

.bottom-margin{
    margin-bottom: 30px;
}
.font-bold-18{
    font: bold 18px "微软雅黑";
}

.font-bold-14{
    font: bold 14px "微软雅黑";
    line-height: 40px;
}

@media (max-width: 750px) {
    .head-sec-title{
        text-align: center;
    }
    .head-sec-title a span{
        top: 50%;
        left: 50%;
        margin-left: -75px;
        margin-top: 10px;

    }
    .head-sec-title{
        height: 180px;
    }
    .row-style{
        padding-left: 5px;
    }
    .row-style-2{
        padding-left: 5px;
    }
}





















