html,body{
    background-color: #fff !important;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none !important;
}
.text-center{
    text-align: center;
}
#main{
    padding: 30px 0;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff !important;
}
.li-table{
    padding: 0;
    margin: 0 20px;
    width: 96%;
    display: table;
    /*float: left;*/
    line-height: 50px;
    border: solid 1px silver;
    border-bottom: none;
}
.li-table div{
    /*float: left;*/
    display: table-cell;
    border-right: solid 1px silver;
}
.li-table-9{
    border-bottom: solid 1px silver;
}
.div-1{
    width: 28%;
    padding-left: 8px;
    vertical-align: middle;
}
.div-2{
    width: 10%;
}
.div-3{
    width: 10%;
}
.div-4{
    width: 20%;
}
.div-5{
    width: 32%;
    padding-left: 8px;
    border-right: none !important;
}
.li-table-1 .div-3{
    position: relative;
}
.Risk_Level{
    border: none !important;
    position: absolute;
    left: 90px;
    top: -2px;
    display: none !important;
}
.Risk_Level_phone{
    display: none !important;
}
.li-table-1 :hover .Risk_Level{
    display: block !important;
}

@media (max-width: 740px) {
    .li-table{
        margin: 0 10px;
        width: 95%;
        line-height: 30px;
    }
    .li-table .div-1, .li-table .div-5{
        padding-left: 5px;
    }
    .li-table div{
        height: inherit;
    }
    .li-table-1 .div-1,.li-table-1 .div-5{
        line-height: 30px;
    }
    .li-table-2 .div-2, .li-table-2 .div-3, .li-table-3 .div-2, .li-table-3 .div-3,
    .li-table-4 .div-1, .li-table-4 .div-2, .li-table-4 .div-3, .li-table-4 .div-4,
    .li-table-5 .div-2, .li-table-5 .div-3, .li-table-6 .div-2, .li-table-6 .div-3,
    .li-table-7 .div-1, .li-table-7 .div-2, .li-table-7 .div-3,
    .li-table-8 .div-1, .li-table-8 .div-2, .li-table-8 .div-3,
    .li-table-9 .div-1, .li-table-9 .div-2, .li-table-9 .div-3, .li-table-9 .div-4{
        height: 60px;
    }
    .Risk_Level_phone{
        border: none !important;
        position: absolute;
        left: -130px;
        top: -2px;
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level{
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level_phone{
        display: block !important;
    }
}

@media (max-width: 670px) {
    .li-table{
        margin: 0 10px;
        width: 95%;
        line-height: 30px;
    }
    .li-table .div-1, .li-table .div-5{
        padding-left: 5px;
    }
    .li-table div{
        height: inherit;
    }
    .li-table-1 .div-1,.li-table-1 .div-5{
        line-height: 30px;
    }
    .li-table-2 .div-2, .li-table-2 .div-3, .li-table-3 .div-2, .li-table-3 .div-3,
    .li-table-5 .div-2, .li-table-5 .div-3, .li-table-6 .div-2, .li-table-6 .div-3,
    .li-table-7 .div-1, .li-table-7 .div-2, .li-table-7 .div-3,
    .li-table-8 .div-1, .li-table-8 .div-2, .li-table-8 .div-3{
        height: 60px;
    }
    .li-table-4 .div-1, .li-table-4 .div-2, .li-table-4 .div-3, .li-table-4 .div-4,
    .li-table-9 .div-1, .li-table-9 .div-2, .li-table-9 .div-3, .li-table-9 .div-4{
        height: 90px;
    }
    .Risk_Level_phone{
        border: none !important;
        position: absolute;
        left: -130px;
        top: -2px;
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level{
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level_phone{
        display: block !important;
    }
}

@media (max-width: 570px) {
    .li-table{
        margin: 0 10px;
        width: 95%;
        line-height: 30px;
    }
    .li-table .div-1, .li-table .div-5{
        padding-left: 5px;
    }
    .li-table div{
        height: inherit;
    }
    .li-table-1 .div-1,.li-table-1 .div-5{
        line-height: 30px;
    }
    .li-table-2 .div-1, .li-table-2 .div-4, .li-table-2 .div-2, .li-table-2 .div-3,
    .li-table-3 .div-1, .li-table-3 .div-4, .li-table-3 .div-2, .li-table-3 .div-3,
    .li-table-4 .div-1, .li-table-4 .div-2, .li-table-4 .div-3, .li-table-4 .div-4,
    .li-table-5 .div-2, .li-table-5 .div-3, .li-table-5 .div-1, .li-table-5 .div-4,
    .li-table-6 .div-2, .li-table-6 .div-3, .li-table-6 .div-1, .li-table-6 .div-4
    {
        height: 90px;
    }
    .li-table-7 .div-1, .li-table-7 .div-2, .li-table-7 .div-3, .li-table-7 .div-4,
    .li-table-8 .div-1, .li-table-8 .div-2, .li-table-8 .div-3, .li-table-8 .div-4,
    .li-table-9 .div-1, .li-table-9 .div-2, .li-table-9 .div-3, .li-table-9 .div-4{
        height: 60px;
    }
    .Risk_Level_phone{
        border: none !important;
        position: absolute;
        left: -130px;
        top: -2px;
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level{
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level_phone{
        display: block !important;
    }
}

@media (max-width: 420px) {
    .li-table{
        margin: 0 10px;
        width: 95%;
        line-height: 20px;
    }
    .li-table div{
        height: inherit;
    }
    .li-table-1 .div-1,.li-table-1 .div-5{
        line-height: 40px;
    }
    .li-table-2 .div-2, .li-table-2 .div-3, .li-table-3 .div-2, .li-table-3 .div-3,
    .li-table-5 .div-2, .li-table-5 .div-3, .li-table-6 .div-2, .li-table-6 .div-3,
    .li-table-7 .div-1, .li-table-7 .div-2, .li-table-7 .div-3,
    .li-table-8 .div-1, .li-table-8 .div-2, .li-table-8 .div-3{
        height: 60px;
    }
    .li-table-4 .div-1, .li-table-4 .div-2, .li-table-4 .div-3, .li-table-4 .div-4,
    .li-table-9 .div-1, .li-table-9 .div-2, .li-table-9 .div-3, .li-table-9 .div-4{
        height: 80px;
    }
    .Risk_Level_phone{
        border: none !important;
        position: absolute;
        left: -130px;
        top: -2px;
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level{
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level_phone{
        display: block !important;
    }
}

@media (max-width: 375px) {
    .li-table{
        margin: 0 10px;
        width: 95%;
        line-height: 20px;
    }
    .li-table .div-1, .li-table .div-5{
        padding-left: 2px;
    }
    .li-table div{
        height: inherit;
    }
    .li-table-1 .div-1,.li-table-1 .div-5{
        line-height: 40px;
    }
    .li-table-2 .div-1, .li-table-2 .div-2, .li-table-2 .div-3, .li-table-2 .div-4,
    .li-table-3 .div-1, .li-table-3 .div-2, .li-table-3 .div-3, .li-table-3 .div-4,
    .li-table-5 .div-1, .li-table-5 .div-2, .li-table-5 .div-3, .li-table-5 .div-4,
    .li-table-6 .div-1, .li-table-6 .div-2, .li-table-6 .div-3, .li-table-6 .div-4,
    .li-table-7 .div-1, .li-table-7 .div-2, .li-table-7 .div-3, .li-table-7 .div-4,
    .li-table-8 .div-1, .li-table-8 .div-2, .li-table-8 .div-3, .li-table-8 .div-4
    {
        height: 100px;
    }
    .li-table-4 .div-1, .li-table-4 .div-2, .li-table-4 .div-3, .li-table-4 .div-4,
    .li-table-9 .div-1, .li-table-9 .div-2, .li-table-9 .div-3, .li-table-9 .div-4
    {
        height: 100px;
    }
    .Risk_Level_phone{
        border: none !important;
        position: absolute;
        left: -140px;
        top: -2px;
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level{
        display: none !important;
    }
    .li-table-1 :hover .Risk_Level_phone{
        display: block !important;
    }
}



