/*new code by zhiqiang*/
.section-six-mid .btn-mobile-padding a{
  text-decoration: none !important;
  color: #e17738 !important;
}
/*old code*/
.project-card {
  font-size: 100% !important;
  border: #dadada solid 1px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  color: #686868;
  border-radius: 4px;
}

.project-card .funding-status-open {
  background: #00b2ef;
}

.project-card .funding-status {
  position: relative;
  top: -60px;
  display: inline-block;
  margin-bottom: -30px;
}

.padding-all {
  padding: 15px !important;
}

.project-card h6 {
  text-align: center;
  font-size: 12px !important;
  font-weight: bold;
}

table.table-bottom-line tr {
  font-size: 100%;
}

.project-card .project-status-open .top-right-triangle {
  border-top-color: #8cc641;
}

.project-card .top-right-triangle {
  width: 0;
  height: 0;
  border-top: 24px solid;
  border-left: 24px solid transparent;
}

.pull-right {
  float: right;
}

.pull-right {
  float: right !important;
}

.project-card .project-status-open h5 {
  color: #8cc641;
}

.project-card h3 {
  font-size: 16px !important;
  text-align: center;
  margin-top: 15px;
}

table.table-bottom-line tr td {
  font-size: 100%;
  border-top: none;
  border-bottom: #c8c8c8 dotted 1px;
}

.project-card .funding-status .funding-status-label {
  color: white;
  padding: 5px 20px;
  height: 30px;
  line-height: 20px;

}

.project-card .funding-status-open {
  background: #8cc641;
}

.project-card .funding-status {
  position: relative;
  top: -120px;
  display: inline-block;
  margin-bottom: -30px;
}

.project-list-wrapper {
  font-size: 100%;
  padding-top: 30px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

@media (min-width: 768px) {
  .bottom-margin-sm {
    margin-bottom: 8px;
  }

  .bottom-margin-sm {
    margin-bottom: 8px;
  }

  h3 {
    display: block;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  .funded-summary {
    position: absolute;
    bottom: -40px;
    left: 0;
    background-color: rgba(0, 42, 80, 0.9);
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 25px;
    color: #FFF;
    top: 313px;
    transition: all .85s ease;
  }

  .project-card .funding-status-open-bottom {
    background: #00b2ef;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 42, 80, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .85s ease;
  }

  .project-card .funding-status-bottom {
    position: relative;
    top: -50px;
    display: inline-block;
    margin-bottom: -100px;

  }

  .project-card .funding-status .funding-status-label-bottom {
    color: white;
    padding: 5px 20px;
    height: 30px;
    line-height: 20px;
  }

  .jumbotron {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei', 微软雅黑, 'Hiragino Sans GB', 'Hiragino Sans GB W3';
    -webkit-font-smoothing: antialiased;
    padding-bottom: 88px;
    background: rgb(28, 46, 63);

  }

  .dashboard-div h2 {
    color: white;
  }

  .red_dot{
    position: absolute;
    background: #f73104;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 5px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: rgb(28, 46, 63);
    border-bottom: 2px solid #00abd7;
  }

  .form-box {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #aaa;
    background: #fff;
    border-radius: 10px;
  }
}

  /* < xs */
  @media (max-width: 479px) {
    .form-box {

      box-shadow: 0px 0px 0px #fff;

    }

  }


  .project-wrapper {
    padding-right: 60px;
    padding-left: 60px;
  }

  #form-title {
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 14px;
    color: #262626;
    text-transform: capitalize;
  }

  .form-control {
    margin-bottom: 5px;
  }

  #wrapper.customer .customerPage p {
    margin-bottom: 10px;
  }

  .label {
    font-size: 1.3rem;
    line-height: 1.75;
    padding: 0;
    clear: both;
    color: #7d8080;
    font-family: 'Gotham SSm 3r', 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;

  }

  b, strong {
    font-weight: 500;
  }

  .story-icon.step1 {
    background-image: url(../img/bubble_101x90.png);
    background-size: 49px 49px;

  }

  .story-icon.step2 {
    background-image: url(../img/cash_101x85.png);
    background-size: 49px 49px;

  }

  .story-icon.step3 {
    background-image: url(../img/clock_97x97.png);
    background-size: 49px 49px;

  }

  .story-icon.step4 {
    background-image: url(../img/dollar_112x114.png);
    background-size: 49px 49px;

  }

  .story-icon {
    width: 100px;
    height: 100px;
    display: block;
    background: #fff;
    margin: 20px auto;
    border: 2px solid #E7E9EB;
    padding-top: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .story-icon {
    width: 100px;
    height: 100px;
    display: block;
    background: #fff;
    margin: 20px auto;
    border: 2px solid #E7E9EB;
    padding-top: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  /**
   * Simple fade transition,
   */
  .mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }

  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }

  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }

  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

  .logo-alpha {
    color: white;
  }

  nav .navbar.navbar-fixed-top.sticky .logo-alpha {
    color: gray;
    display: none;
  }

  .highlight-title {
    margin-top: 100px;
  }

  /* md */
  @media (min-width: 992px) AND (max-width: 1199px) {
    .highlight-title {
      margin-top: 100px;
    }

  }
  /* sm md */
  @media (min-width: 768px) AND (max-width: 1199px) {
    .highlight-title {
      margin-top: 0px;
    }

  }

  /* sm */
  @media (min-width: 768px)  AND (max-width: 991px) {
    .highlight-title {
      margin-top: 0px;
    }
  }

  /* xs */
  @media (max-width: 767px) {
    .highlight-title {
      margin-top: 0px;
    }
  }

  /* < xs */
  @media (max-width: 479px) {
    .highlight-title {
      margin-top: 8px;

    }
  }


  /* < xs */
  @media (max-width: 479px) {
    .highlight-points {
      margin-left: 40px;
      margin-bottom: 10px;
    }

  }

  @media (max-width: 479px) {

    ul.bullet-icons li {
      margin-top: 8px;
      margin-bottom: 2px;
    }
  }


  .checkbox label, .radio label {
    padding-left: 0px;
    font-weight: 500;
  }

  .mobile-tab:active, .mobile-tab:visited {
    border-bottom: 2px solid #00abd7;
  }

  @media (max-width: 479px) {

    #touzi-navbar {
      margin-top: 20px;
    }
  }


  .advantage-icon {
    width: 130px;
    height: 130px;
    display: block;
    background: #fff;
    margin: 20px auto;
    border: 2px solid #E7E9EB;
    padding-top: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 79px 79px;

  }

  .advantage-icon.quality {
    background-image: url(../img/landing/diamond_256x256.png);
  }

  .advantage-icon.noworry {
    background-image: url(../img/landing/shield_256x256.png);
  }

  .advantage-icon.easy {
    background-image: url(../img/landing/rocket_256x256.png);
  }

  .advantage-icon.flexible {
    background-image: url(../img/landing/press_256x256.png);
  }

  .advantage-description {
    color: #838485;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .advantage-title {
    color: #4bb7e8;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .invest-button-label {
    color: white;
    padding: 15px 20px;
    height: 30px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .invest-button {
    background: #8cc641;
    display: inline-block;
    width: 140px;
    height: 50px;
  }

  .advisor-pic {
    width: 140px;
  }

  .advisor-title {
    font-weight: 500;
    color: #042A46;
    margin-top: 5px;
  }

  .advisor-description {
    width: 180px;
    text-align: justify;
    padding: 0 7px;
    font-size: 12px;
    margin-top: 12px;
  }

  @media (max-width: 479px) {
    .advisor-description {
      margin-left: inherit;
      width: 100%;
      text-align: center;

    }
  }

.investor-requirement small {
  margin-left: 20px;
}

@media screen and (min-width: 768px){
  @media screen and (max-width: 992px) {
    .chart_left img {
      padding-top: 22%;
    }

    .four_bullets {
      margin-left: 8% !important;
    }

    #hiw #hiw-steps .step {
      margin: 0 18px;
    }

    #hiw #hiw-steps span.icon-thin-arrow-right {
      margin-top: 7%;
    }

    .advisor-description {
      margin-left: 0px;
    }
  }
}
@media screen and (max-width: 768px){
  .advantage-icon{
    width: 100px;
    height: 100px;
    background-size: 60px;
  }
  h2{
    font-size: 1.7em!important;
  }
  .chart_left img{
    width: 80%;
    margin-top: 9%;
  }
  .four_list_bullets p span{
    font-size: 120%!important;
  }
  .four_list_bullets p{
    margin-right: 0!important;
  }
  .list_bullets_third{
    margin-right: 15px!important;
  }
  .story-icon{
    width: 150px;
    height: 150px;
    background-size: 90px;
  }
  #hiw #hiw-steps .step h3{
    font-size: 17px;
  }
  #home{
    margin-top: 70px;
  }
  .four_bullets{
    margin-left: 0!important;
  }
}

@media screen and (min-width: 321px){
  @media screen and (max-width: 414px) {
    .four_list_bullets p span{
      font-size: 160%!important;
    }
  }
}


.swiper-button-white{
  margin: 0 10px;
}

.swiper-pagination-bullet{
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: #000;
  background-color: rgba(255,255,255,.5);
}
.swiper-pagination-bullet-active{
  background-color: rgba(255,255,255,1);
}

.ajax_wait{
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,.5);
  z-index: 9999;
}
.ajax_wait_gif img{
  display: block;
  margin: 10em  auto 2em;
}
.ajax_wait p{
  display: none;
  color: #fff;
  text-align: center;
}
.ajax_wait p a{
  color: #3ceff6;
}