/* base.css */
#hero {
	height: auto;
}
@media (max-width: 767px) {
  #hero h1 {
    height: auto;
  }
}

@media (max-width: 480px) {
  #hero h1 {
    height: auto;
  }
}
#hero .container {
	min-height: auto;
}
@media (max-width: 768px) {
	#hero .container {
		min-height: auto;
	}
}
@media (max-width: 430px) {
	#hero .container {
		min-height: auto;
	}
}
nav .container {
	padding: 10px 0;
}
nav .navbar {
	background-color: white;
	position: static;
}
nav .navbar .navbar-nav > li {
	color: #454545;
}
nav .navbar .navbar-nav > li > a:not(.btn-solid) {
	color: #454545;
}
nav .navbar .navbar-nav > li > a:not(.btn-solid):after {
	height: 3px;
	margin-top: 10px;
}
nav .navbar .navbar-nav > li > a:not(.btn-solid):hover:after {
	background: #4bb7e8;
}
@media screen and (min-width: 768px){
	.login_no_margin_right{
		margin-right: 0!important;
	}
}
#home #hero {
	background-image: none;
	height: auto;
}
@media (max-width: 767px) {
	#home #hero {
		height: auto;
	}
}
@media (max-width: 520px) {
	#home #hero {
		height: auto;
	}
}
#home #hero .container {
	height: auto;
}

/* index.css */
@font-face { font-family: numberSeven; src: url('../../vendor/font/StencilStd.otf'); }
.advantage-icon {
	width: 120px;
	height: 120px;
	display: block;
	background-size: contain;
}
.advantage-icon.quality {
	background-image: url(../img/landing/index_icon_adv_01_150x150.png);
}
.advantage-icon.noworry {
	background-image: url(../img/landing/index_icon_adv_02_148x148.png);
}
.advantage-icon.easy {
	background-image: url(../img/landing/index_icon_adv_03_148x148.png);
}
.advantage-icon.flexible {
	background-image: url(../img/landing/index_icon_adv_04_148x148.png);
}
.advantage-title {
	margin-bottom: 5px;
	font-size: 22px;
}
.chart_left h2{
 	color: #E46105;
 	font-size: 1.7em;
 	font-weight: 500;
 }
.chart_left h2 span{
 	font-size: 2em;
 	font-family: numberSeven;
}
@media screen and (min-width: 768px){
	@media screen and (max-width: 992px) {
		.advantage-icon{
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
.safe_lists ul li{
  font-size: 1.35em;
  margin-top: 13%;
}
.safe_lists_right ul li{
  text-align: left;
}
.safe_lists ul li:before{
  content: url(../img/landing/index_icon_lock_30x40.png);
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
  display: inline-block;
  vertical-align: middle;
}

.product_chart_left{
   padding: 50px 0px;
   text-align: center;
   float: left;
   height: 266px;
}
.product_chart_left h2{
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}
.product_chart_left p{
  color: white;
  font-weight: 600;
}
.product_chart_left img{
  width: 50%;
}

.product_chart_right{
  padding-left: 0;
}
.chart_left_shadow{
  float: left;
  height: 100%;
  border-width: 10px 0 10px 14px;
  border-style: solid none solid solid;
  border-color: transparent transparent transparent #bbb;
  height: 266px;
}
.chart_right_style{
  float: left;
  border: 1px solid #ddd;
  width: 97%;
  margin-top: 10px;
  position: relative;
  margin-left: -14px;
  border-left: none;
  background: #fff;
}
.chart_right_style h3{
  background: #f2f7f7;
  padding: 10px 0 10px 50px;
}
.chart_right_middle li{
  float: left;
  text-align: center;
  padding: 42px 29px;
  font-size: 1.1em;
  width: 33%;
}
.chart_right_middle li span{
  font-size: 3em;
  color: #68C1FF;
  font-weight: 500;
}
.chart_right_split:before{
  content: "|";
  font-size: 3em;
  float: left;
  position: relative;
  margin-left: -43px;
  margin-top: 9px;
  color: #dedede;
}
.chart_right_bottom{
   clear: both;
   background: #f2f7f7;
   display: flex;
}
.chart_right_bottom li{
  float: left;
  padding: 0px 80px;
  margin: 8px 0;
  border-right: 1px solid #ccc;
  line-height: 19px;

}
.chart_topright_tag{
  position: relative;
  float: right;
  transform: rotate(45deg);
  margin-top: -31px;
  margin-right: -23px;
  border-style: none solid solid solid;
  border-width: 0 23px 23px 23px;
  border-color: transparent transparent #e33e3b transparent;
}
.chart_topright_tag span{
  position: relative;
  margin-bottom: -34px;
  padding-top: 4px;
  float: left;
  font-size: 0.8em;
  color: white;
}
#product-section .row{
  margin-bottom: 50px;
}
.chart_middle_vip li{
  text-align: left;
  padding: 27px 29px;
}
.chart_middle_vip li span{
  font-size: 1.1em;
  line-height: 23px;
  text-align: left;
  color: #787878;
  font-weight: normal;
}
.chart_middle_vip li span:before{
  content: url(../img/landing/index_vip_bullets_64x50.png);
  vertical-align: middle;
  display: inline-block;
  margin: 0 -15px 0 0;
  transform: scale(0.34);
}
.invest_now_link{
  padding: 75px 0 0 0!important;
}
.invest_now_link a{
  font-size: 1.1em; 
}
.about-meixin{
  background-image: url(../img/landing/index_about_bg_1440x454.png);
  background-size: cover;
}
.about-meixin h2{
  font-size: 1.4em;
  color: #4bb7e8;
  font-weight: 500;
}
.about-meixin .col-sm-3{
  padding-top: 36px;
}
.section-corporation h2{
  margin-bottom: 20px;
}
.section-corporation img{
  width: 90%;
  margin-top: 15px;
}
.slider-float-box{
  position: relative;
  float: right;
  height: 0;
  right: 5%;
  z-index: 9;
}
.slider-float-box div{
  background-color: #e6e9e8;
  color: #159bd6;
  padding: 45px;
  margin-top: 8%;
}
.slider-float-box div h3{
  color: #454545;
  font-size: 2.5em;
  border-bottom: 2px solid #ddd;
  display: inline;
}
.slider-float-box div h3 span{
  color: #159bd6;
  font-size: initial;
  font-weight: lighter;
}
.slider-float-box div button{
  width: 100%;
  border-radius: 0;
  color: white;
  background-color: #e17738;
  letter-spacing: 0.5em;
}
.slider-float-box div button:hover{
  color: white;
}
.slider-float-box div p{
  color: #787878;
  margin-bottom: 0;
  margin-top: 3em;
}
.slider-float-box div p span{
  color: #159bd6;
  display: inline-block;
  font-size: 4em;
  font-weight: 500;
}
.slider-float-box div a{
  display: block;
  text-align: right;
  padding-top: 3px;
}
.landing-section-one .col-sm-9{
  border-right: 2px solid #ddd;
}
.landing-section-one .col-sm-9 h3{
  font-size: 1.8em;
  color: #159bd6;
}
.landing-section-one .col-sm-9 p{
  text-align: left;
}
.landing-section-one .col-sm-9 p span{
  color: #159bd6;
  font-weight: 500;
}
.landing-section-one .col-sm-3{
  /*padding-top: 1.2%;*/
}
.landing-section-one .col-sm-3 div{
  padding: 0;
}
.landing-section-one .col-sm-3 .col-sm-8 button{
  background-color: #159bd6;
  color: white;
  padding: 6px 55px;
  border-radius: 0;
}
.landing-section-one .col-sm-3 .col-sm-8 p{
  font-size: 12px;
  /*padding-top: 10px;*/
}
.fluid-no-bg{
  background-color: transparent!important;
}
.fluid-no-bg .mainContent{
  margin: 30px auto;
}
.landing-section-two .col-sm-2{
  padding: 0;
  margin: 0 14px;
}
.landing-section-two .col-sm-2 p{
  font-size: 13.5px;
  margin-bottom: 0;
}
.landing-section-two .col-sm-2 img{
  display: block;
  margin: 0 auto;
  width: 50%;
}
.landing-section-two .col-sm-2 h3{
  margin-top: 30px;
  font-size: 1.6em;
  border-left: 2px solid;
  border-right: 2px solid;
  text-align: center;
  display: inline-block;
  padding: 0 7px;
  margin-bottom: 12px;
  color: #454545;
}
.min-line-height p{
  line-height: 1.3em;
}
.landing-section-title{
  padding-left: 14px;
  border-left: 4px solid;
  color: #159bd6;
  font-weight: 500;
  font-size: 2em;
  text-align: left;
}
.landing-section-title span{
  color: #aaa;
  font-size: 0.5em;
}
.landing-section-three h3{
  padding-left: 15px;
  font-size: 1.2em;
  color: #454545;
}
.landing-section-three .col-sm-2 span{
  color: #159bd6;
  font-weight: 500;
}
.landing-section-three .col-sm-2 span:nth-child(1){
  font-size: 3.5em;
}
.landing-section-three .col-sm-2 span:nth-child(2){
  font-size: 1.5em;
}
.color-orange span{
  color: #e17738!important;
}
.landing-section-three button{
  padding: 6px 40px;
  background-color: #e17738;
  color: white;
  margin-top: 20px;
  margin-left: 50px;
}
.landing-section-three button:hover{
  color: white;
}
.landing-section-three .col-sm-4 img{
  width: 20px;
  margin: 8px 35px;
}
.landing-section-three .col-sm-3{
  text-align: left;
}
.landing-section-three .col-sm-3 span:nth-child(1){
  font-size: 4.5em;
  float: left;
  padding-right: 10px;
  color: #aaa;
}
.landing-section-three .col-sm-3 span:nth-child(2){
  font-size: 1.3em;
  color: #159bd6;
  display: inline-block;
  padding-top: 17px;
  font-weight: 500;
}
.landing-section-four .col-sm-4 h3{
  text-align: center;
  font-size: 1.3em;
  color: #454545;
}
.landing-section-four .col-sm-4 button{
  padding: 6px 50px;
  border: 1px solid #e17738;
  background-color: transparent;
  border-radius: 3px;
  color: #e17738;
}
.landing-section-four .col-sm-4 button.default_span{
  padding: 6px 50px;
  background-color: #c5c5c5;
  color: #fff;
  border: 1px solid #c5c5c5;
}
.landing-section-four .col-sm-4 p{
  margin: 20px 0;
  line-height: 1.35;
}
.landing-section-four .col-sm-4 p span{
  font-weight: 500;
  color: #e17738;
}
.landing-section-four .col-sm-4 p span:nth-child(1){
  font-size: 2.8em;
}
.landing-section-four .col-sm-4 p span:nth-child(2){
  font-size: 1.3em;
}
.landing-section-five, .landing-section-six, .landing-section-last{
  padding: 0;
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.landing-section-five table tr th, .landing-section-six table tr th{
  font-weight: 500;
  text-align: center;
  background-color: #e9eff2;
}
.landing-section-five table tr td{
  padding: 15px 0;
  vertical-align: middle;
}
.landing-section-five table tr td span{
  font-size: .7em;
}
.landing-section-five table tr td button{
  color: white;
  width: 90px;
  border: 1px solid #e17738;
  background-color: transparent;
  border-radius: 3px;
  color: #e17738;
}
.btn-hover-color:hover{
  color: #e17738;
}
.landing-section-five td img{
  width: 25px;
}
.landing-section-six table, .landing-section-five table{
  margin-bottom: 0;
}
.landing-section-six .section-six-mid td{
  line-height: 2.5;
  padding: 30px 0;
  color: #e17738;
  font-weight: 500;
}
.landing-section-six .section-six-bot{
  background-color: #e9eff2;
}
.landing-section-six .section-six-bot td{
  font-size: 1em;
}
.landing-section-six table tr td button{
  background-color: transparent;
  border: 2px solid #e17738;
  color: #e17738;
  font-weight: 500;
}
.landing-section-six table tr td button:hover{
  color: #e17738;
}
.landing-section-aboutus h3{
  font-size: 1.3em;
  color: #454545;
  margin: 15px 0;
}
.landing-section-aboutus p{
  text-align: left;
}
.landing-section-aboutus img{
  width: 100%;
  height: 150px;
}
.landing-section-last table tr td{
  border: 13px solid #f5f5f5;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}
.landing-section-last table tr td img{
  width: 95%;
}
.section-title-wrapper{
  padding: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
  background-color: transparent!important;
}
.sold-out-button{
  border-color: #ddd!important;
  background-color: #ddd!important;
  color: white!important;
}
.border-right-grey{
  border-right: 2px solid #ddd;
}
.border-right-white{
  border-right: 2px solid white;
}
@media screen and (max-width: 768px){
  #home{
    margin-top: 0;
  }
  .safe_lists ul li{
    width: 46%;
    text-align: left;
    float: left;
  }
  .safe_lists ul{
    margin-top: 0!important;
  }
  .chart_left{
    padding-left: 0;
  }
  .chart_left_shadow{
    display: none;
  }
  .product_chart_left{
    width: 100%;
  }
  .chart_right_style{
    width: 106%;
    border-left: 1px solid #ddd;
    margin-left: 0;
  }
  .chart_right_middle li span{
    font-size: 1.3em;
  }
  .chart_right_middle li{
    padding: 42px 5px;
  }
  .chart_right_split:before{
    margin-left: -7px;
  }
  .chart_right_bottom li{
    padding: 0px 14px;
  }
  .chart_right_middle li img{
    padding: 8px 0!important;
    width: 77px!important;
  }
  .invest_now_link{
    padding: 50px 0 0 0!important;
  }
  .chart_middle_vip li span{
    line-height: 28px;
    text-align: right;
    float: left;
    font-weight: normal;
    font-size: 1em;
  }
  .invest_now_link a{
    font-size: 1em;
  }
  .section-corporation img{
    width: 100%;
  }
  .chart_right_style h3{
    padding: 10px 0 10px 10px;
    font-size: 0.9em;
  }
  .chart_middle_vip li span:before{
    display: none;
  }
  .safe_lists ul li{
    margin-top: 5%!important;
  }
  .chart_topright_tag{
    margin-top: -29px;
  }
  .page-top-bar .top-float-right{
    display: none;
  }
  .slider-float-box{
    display: none;
  }
  .landing-section-one .col-sm-9{
    border-right: none;
  }
  .landing-section-one .col-sx-8 p{
    display: inline-block;
  }
  .border-right-grey{
    border-right: none;
  }
  .landing-section-three .col-sm-2 span:nth-child(2){
    font-size: 1em;
  }
  .landing-section-three button{
    margin-left: 0;
    margin-bottom: 10px;
  }
  .landing-section-three .col-sm-4 img{
    width: 14px;
    margin: 5px 10px;
  }
  .landing-section-three .col-sm-4 br{
    display: none;
  }
  #my-slider .ism-radios{
    display: none;
  }
  .landing-section-last .col-xs-12 img{
    width: 100%;
    background-color: white;
    margin: 15px 0;
  }
  .landing-section-two .col-sm-2{
    min-height: 240px;
    margin: 0;
  }
  .btn-mobile-padding{
    padding: 6px 6px;
  }
  .table>tbody>tr>td{
    font-size: 14px;
  }
}
