
form .input-error {
    border-color: #ff0000;
}


#page2,
#page4,
#international_page3,
#american_page3,
#page5,
#page6{
    display: none;
}

.phone-field {
    width: 63%;
    display: inline-block;
    margin-left: 2%;
}

#countries_phone {
    width: 33%;
    display: inline-block;
}

.button-div {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fa-upload-pic a{
    margin-bottom: 3px;
    margin-top: 20px;
    width: 100%;
    border-radius: 2px;
}

.fa-upload-pic img{
    width: 100%;
}

.fa-upload-pic input{
    display: none;
}