<script>
    //URL的前缀
    URL_PREFIX = "http://101.201.112.171:8082/apiv2";
    URL={

        //yellow type 1
        type1: {
            create_product : URL_PREFIX + "/is_login",
        },
        //yellow type 2
        type2: {
            create_product : URL_PREFIX + "/is_login",
        },
        //yellow type 3
        type3: {
            create_product : URL_PREFIX + "/is_login",
        },
        //yellow type 4
        type4: {
            create_product : URL_PREFIX + "/is_login",
        },
        //yellow type 5
        type5: {
            create_product : URL_PREFIX + "/is_login",
        }
    }
</script>