<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <title>
        美信金融|投资流程
    </title>
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css">
    <link href="/static/dist/meixin_invest/css/base.min.css" rel="stylesheet">
    <link href="/static/dist/meixin_invest/css/detail-new.min.css" rel="stylesheet">
    <link href="/static/dist/meixin_invest/css/index.min.css" rel="stylesheet">
    <link href="/static/dist/meixin_invest/css/fa_invest.min.css" rel="stylesheet">
    <#include "includes/oneapm.html" />
    <#include "includes/ga.html" />
    <script>
    var _hmt = _hmt || [];
    (function()
    { var hm = document.createElement("script"); hm.src = "//hm.baidu.com/hm.js?36100da860ed74085d2bdd67bdbdbf5e"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); }
    )();
    </script>
    <!--[if lt IE 9]>
    <script src="/static/vendor/js/html5shiv"></script>
    <script src="/static/vendor/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper" class="customer">
     <#include "includes/navbar.html" />
     <div class="container-fluid">
         <section class="text-center" style="margin-top: 70px;">
             <div class="row">
                 <div class="col-sm-10 col-sm-offset-1">
                     <div class="invest_info" style="display: block;">
                         <h2>申购成功</h2>
                         <p>您的款项到账后将收到邮件通知</p>
                         <p></p>
                         <div class="row success-links">
                             <h3>与此同时，您还可以：</h3>
                             <div class="col-sm-offset-3 col-sm-2">
                                 <img src="/static/meixin_invest/img/fa_invest/icon_moreproducts_512x512.png" />
                                 <a href="/product_list" target="_blank" class="btn btn-primary">浏览更多产品</a>
                             </div>
                             <div class="col-sm-2">
                                 <img src="/static/meixin_invest/img/fa_invest/icon_myaccount_512x512.png" />
                                 <a href="/investor/dashboard" target="_blank" class="btn btn-primary">查看我的账户</a>
                             </div>
                             <div class="col-sm-2">
                                 <img src="/static/meixin_invest/img/fa_invest/icon_news_512x512.png" />
                                 <a href="//news.meixinfinance.com" target="_blank" class="btn btn-primary">查看财经资讯</a>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
         </section>
     </div>
 </div>
 <#include "includes/footer.html" />
<link rel="shortcut icon" type="image/png" href="/static/dist/meixin_invest/img/favicon.png">
<link rel="stylesheet" href="/static/vendor/css/font-awesome.min.css">
<script src="/static/vendor/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/static/vendor/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/vendor/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/dist/meixin_invest/js/navi.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $('#wechat-popover').popover({
            html : true,
            placement : 'bottom',
            trigger : 'hover',
            content : '<img style="width: 200px;padding:0;margin:0;" src="/static/meixin_invest/img/meixin_new_qr_code_300x300.jpg" />'
        });
    });
</script>
<script src="/static/dist/meixin_invest/js/bootstrap-formhelpers.min.js"></script>
<script src="/static/dist/meixin_invest/js/bootstrap-formhelpers-states.min.js"></script>
<script src="/static/dist/meixin_invest/js/bootstrap-formhelpers-countries-nousa.zh_CN.min.js"></script>
<script src="/static/meixin_invest/js/parsley.min.js"></script>
<script src="/static/dist/meixin_invest/js/fa_invest_general.min.js"></script>
<script src="/static/dist/meixin_invest/js/jquery.cookie.min.js"></script>
<script src="/static/dist/meixin_invest/js/fa.min.js"></script>
<script>
    function ReplaceDot(id){
        var Obj=document.getElementById(id);
        while(Obj.value.indexOf("。")!=-1 || Obj.value.indexOf("，")!=-1){
            Obj.value=Obj.value.replace("。",".");
            Obj.value=Obj.value.replace("，",",");
        }
    }
    function getUserInvestorProfile(fa_invest_data) {
        // get investor profile from meixin database
        $.ajax({
            url: '/api/investor/investor_profile',
            dataType: 'json',
            async: false,
            data: {},
            success: function (result, status) {
            	console.log(result);
                fa_invest_data['user_id'] = result.user_id;
                fa_invest_data['entity_id'] = result.entity_id;
                console.log(result);
                console.log('investor_profile');
            },
            error: function (result, status) {
                console.log(result);
            },
            fail: function (result, status) {
                console.log(result);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    function getFaEntity(fa_invest_data) {
        // get FA entity information
        console.log(fa_invest_data['entity_id']);
        console.log("getFaEntity");
        $.ajax({
            url: '/fund_america/entities' + '/' + fa_invest_data['entity_id'],
            dataType: 'json',
            method: 'GET',
            async: false,
            data: {},
            success: function (result, status) {
                console.log(result);
                var name = result.name.split(" ");
                var firstname = name[0];
                var lastname = name[1];
                $("#firstname").attr("value", firstname);
                $("#lastname").attr("value", lastname);
                $("#birth-date").attr("value", result.date_of_birth);
                $("#street").attr("value", result.street_address_1);
                $("#apartment").attr("value", result.street_address_2);
                $("#zipcode").attr("value", result.postal_code);
                $("#city").attr("value", result.city);
                fa_invest_data['phone'] = result.phone;
            },
            error: function (response) {
                console.log(response);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }


    // FA API Call 1: Subscription Agreement
    function faSubscriptionAgreement(data) {
        $.ajax({
            url: '/fund_america/subscription_agreements',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                'equity_share_count': 10,
                'offering_id': "${offering_id}",
                'vesting_amount': $("#invest-amount").val(),
                'vesting_as': user_signature,
                'vesting_as_email': '${user.email}',
                'debt_par_value': 5000,
            },
            success: function (result, status) {
                console.log(result);
                console.log("post success");
                data['agreement_id'] = result.id;
                data['agreement_url'] = result.url;
                if (result.electronic_signatures[0]['anchor_id'] == 'subscriber_signature') {
                    data['sign_id'] = result.electronic_signatures[0].id;
                } else {
                    data['sign_id'] = result.electronic_signatures[1].id;
                }
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "协议填写有误";
                error_detail = response.responseText;
                console.log(error_detail);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    // FA API Call 2: Electronic Signature
    function faSignature(data) {
        $.ajax({
            url: '/fund_america/electronic_signatures' + '/' + data['sign_id'],
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                'ip_address': '${user_ip}',
                'name': user_signature,
                'email': '${user.email}',
                'user_agent': window.navigator.userAgent,
                'literal': user_signature
            },
            success: function (result, status) {
                console.log("fa sign success");
                console.log(result);
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "签名有误";
                error_detail = response.responseText;
                console.log(error_detail);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    // FA API Call 3: Entity
    function faEntity(data) {
        var phone = '';
        if(data['phone']){
            phone = data['phone'];
        }else{
            phone = '${investor_profile.telephone}';
        }
        $.ajax({
            url: '/fund_america/entities',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                'country': $("#countries_states").find("option").filter(":selected").attr("value"),
                'region': $("#state").find("option").filter(":selected").attr("value"),
                'city': $('#city').val(),
                'street_address_1': $('#door').val() + ' ' + $('#street').val(),
                'street_address_2': $('#apartment').val(),
                'postal_code': $('#zipcode').val(),
                'email': '${user.email}',
                'phone': phone,
                'name': $("#firstname").val() + " " + $("#lastname").val(),
                'date_of_birth': $('#birth-date').val(),
                'tax_id_number': passport2TaxId($('#passport').val()),
                'type': 'person',
                'entity_type': 'person'
            },
            success: function (result, status) {
                console.log("save fa entity");
                data['entity_id'] = result.id;
                console.log(data['entity_id']);
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "投资人信息填写有误";
                error_detail = response.responseText;
                console.log(error_detail);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    // FA API Call 5 (Optional): ACH
    function faAchAuthorization(data) {
        $.ajax({
            url: '/fund_america/achs',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                'account_number': $('#bank-account-number').val(),
                'account_type': $("#accouttype input").filter(":checked").attr("accounttype"),
                'address': $('#street').val(),
                'check_type': $("#checktype input").filter(":checked").attr("checktype"),
                'city': $('#city').val(),
                'email': '${user.email}',
                'entity_id': data['entity_id'],
                'ip_address': '${user_ip}',
                'literal': user_signature,
                'name_on_account': $('#bank-account-name').val(),
                'routing_number': $('#routing-number').val(),
                'state': $("#state").find("option").filter(":selected").attr("value"),
                'user_agent': user_browser,
                'zip_code': $('#zipcode').val(),
            },
            success: function (result, status) {
                console.log("ach call success");
                data['ach_authorization_id'] = result.id;
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "ACH填写有误";
                error_detail = response.responseText;
                console.log(error_detail);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    // FA API Call 6: Investments
    function faInvestment(data) {
        var now = {
            'offering_id': '${offering_id}',
            'amount': $("#invest-amount").val(),
            'entity_id': data['entity_id'],
            'subscription_agreement_id': data['agreement_id'],
            'payment_method': $(".payment-option input").filter(":checked").attr("payment-method"),
            'review_trade': 'false'
        };
        if ($(".payment-option input").filter(":checked").attr("payment-method") == 'ach') {
            now['ach_authorization_id'] = data['ach_authorization_id'];
        }
        $.ajax({
            url: '/fund_america/investments',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: now,
            success: function (result, status) {
                console.log('invest success');
                data['external_id'] = result.id;
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "投资填写有误";
                error_detail = response.responseText;
                console.log(error_detail);
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }
    // Meixin Order Api Call
    function saveToMeixinOrder(data) {
        $.ajax({
            url: '/api/orders',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                'product': "${product.id}",
                'invest_amount': $("#invest-amount").val(),
                'payment_method': $(".payment-option input").filter(":checked").attr("payment-method"),
                'external_id': data['external_id']
            },
            success: function (result, status) {
                console.log('order save success');
                console.log(result);
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "订单填写有误";
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    // Meixin Profile Api Call
    function saveMeixinEntity(data) {
        $.ajax({
            url: '/api/investor/update_investor_profile',
            dataType: 'json',
            method: 'post',
            async: false,
            data: {
                'external_entity_id': data['entity_id'],
                'real_name': $("#firstname").val() + " " + $("#lastname").val(),
                'id_card_code': $("#id-card-number").val(),
            },
            success: function (result, status) {
                console.log('meixin entity save success');
                console.log(result);
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "用户信息存储有误";
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    // Meixin Indentification Photo Api Call
    function saveToMeixinPhoto(data) {
        var formData = new FormData(this);
        if ($('#id_card_photo').get(0).files.length != 0) {
            formData.append('id_card_photo', $("#id_card_photo")[0].files[0]);
        }
        if ($('#passport_photo').get(0).files.length != 0) {
            formData.append('passport_photo', $("#passport_photo")[0].files[0]);
        }

        $.ajax({
            url: '/api/investor/upload_photo',
            dataType: 'json',
            method: 'post',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result, status) {
                console.log('meixin photo save success');
                console.log(result);
            },
            error: function (response) {
                console.log(response);
                is_success = false;
                error = "照片上传有误";
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + $.cookie('access_token'));
            }
        });
    }

    var user_browser;
    var user_signature;
    var is_success = true;
    var fa_invest_data = {}
    var error;
    var error_detail;

    $(document).ready(function () {
        user_browser = window.navigator.appName;
        console.log(user_browser);
        getUserInvestorProfile(fa_invest_data);
        if(fa_invest_data['entity_id']){
            getFaEntity(fa_invest_data);
        }
    });

    function curIndex() {
        return $('.step-section').index($('.step-section').filter('.current'));
    }

    // handle submission
    $('#submit-button').click(function () {
        if ($('.fa-steps').parsley().validate({group: 'block-' + curIndex()})) {

            $('#submit-button').attr("disabled","disabled");
            $('#submit-button span').eq(0).show();
            $('#submit-button span').eq(1).text(" 提交中...");

            setTimeout(function () {
                if ($(".payment-option input").filter(":checked").attr("payment-method") == "ach") {
                    user_signature = $("#ach-signature").val();
                } else if ($(".payment-option input").filter(":checked").attr("payment-method") == "wire") {
                    user_signature = $("#wire-signature").val();
                } else if ($(".payment-option input").filter(":checked").attr("payment-method") == "check") {
                    user_signature = $("#check-signature").val();
                }

                faSubscriptionAgreement(fa_invest_data);
                if (is_success == true) {
                    faSignature(fa_invest_data);
                }

                if (is_success == true) {
                    faEntity(fa_invest_data);
                }

                if (is_success == true) {
                    saveMeixinEntity(fa_invest_data);
                }

                if ($(".payment-option input").filter(":checked").attr("payment-method") == "ach") {
                    console.log("use ach");
                    faAchAuthorization(fa_invest_data);
                }


                if (is_success == true) {
                    faInvestment(fa_invest_data);
                }
                if (is_success == true) {
                    saveToMeixinOrder(fa_invest_data);
                }
                if (is_success == true) {
                    saveToMeixinPhoto(fa_invest_data);
                }
                if (is_success == true) {
                    $(".fa-steps-bullets, form.fa-steps").hide();
                    $(".invest_info").show();
                } else {
                    $(".fa-steps-bullets, form.fa-steps").hide();
                    $(".invest_info h2").text("投资失败" + ": " + error);
                    $(".invest_info p").first().text("您填写的投资信息有误，投资未成功。我们的工作人员将尽快与您联系。（美信的邮箱：invest@meixinfinance.com）");
                    $(".invest_info p:eq(1)").text("失败原因: " + error_detail);
                    $(".success-links").hide();
                    $(".invest_info").show();
                }
            }, 500);
        }
    });
</script>
</body>
</html>